[user]
	name = Phil Brown
	email = phil@philipbrown.id.au
[core]
	excludesfile = /Users/phil/.gitignore_global
[push]
	default = simple
[alias]
	st = status
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[branch]
	autosetuprebase = always
[fetch]
  prune = true
